* {
    padding: 0;
    margin: 0;
}

.Header {
    color: white;
    background-color: rgb(50, 50, 131);
}


.headertop {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style: none;

}

a {
    text-decoration: none;
}